<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexagame - Jouez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <style>

    </style>
</head>

<body class="bg-gray-200 flex flex-col items-center min-h-screen relative"
      data-firework-image="{{ url_for('static', filename='image/feuArtifice.png') }}">

<button class="home-button" onclick="window.location.href='/'">⌂</button>
<button id="reset-button" class="button-3d">Réinitialiser le jeu</button>

<div id="game-container" class="container mx-auto p-4 flex flex-row items-start">
    <!-- Tableau de bord latéral pour les informations des joueurs -->
    <div class="flex flex-col">
        <aside class="w-64 card p-4 mb-4 sortable-item">
            <h2 class="text-xl font-bold text-center mb-4">Joueurs & Scores</h2>
            <div class="flex items-center justify-between mb-4">
                <div class="flex items-center">
                    <img src="{{ url_for('static', filename='image/stickers-bonhomme-de-neige-.jpg') }}" alt="Joueur 1"
                         class="w-10 h-10 mr-2 joueur-img">
                    <span id="player1Name">Joueur 1</span>
                </div>
                <span id="score1">0</span>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="{{ url_for('static', filename='image/stickers-bonhomme-de-neige-.jpg') }}" alt="Joueur 2"
                         class="w-10 h-10 mr-2 joueur-img">
                    <span id="player2Name">Joueur 2</span>
                </div>
                <span id="score2">0</span>
            </div>
        </aside>
        <!-- Partie du choix de la difficulté -->
        <aside class="w-64 card p-4 sortable-item">
            <label for="difficulty-select" class="text-xl font-bold text-center mb-4">Taille Hexagone</label>
            <select id="difficulty-select" class="block w-full bg-gray-100 border border-gray-300 rounded p-2">
                <option value="4">4x4</option>
                <option value="5">5x5</option>
                <option value="6">6x6</option>
                <option value="7" selected>7x7</option>
                <option value="8">8x8</option>
                <option value="9">9x9</option>
                <option value="10">10x10</option>
                <option value="11">11x11</option>
            </select>
        </aside>
    </div>
    <!-- Conteneur principal pour le jeu -->
    <div class="flex-1 sortable-item">
        <header id="game-header" class="bg-red-500 text-white text-center p-4 rounded-lg mb-4">
            <h1 class="text-3xl font-bold">Hexagame</h1>
            <div class="mt-2">
                <p id="current-player" class="text-lg">Joueur actuel : Joueur 1</p>
                <p id="winner-message" class="text-md"></p>
            </div>
        </header>
        <main class="flex flex-col items-center">
            <div id="hex-game-board" class="mt-4"></div>
        </main>
        <section
                class="p-4 bg-white rounded-lg shadow-lg mt-4 transition-transform duration-200 hover:scale-105 card sortable-item">
            <h2 class="font-bold">Instructions</h2>
            <p>Connectez vos côtés en couleurs avant votre adversaire.</p>
        </section>
    </div>
</div>
<!-- Inclure le footer -->
{% include 'footer.html' %}
<!-- Animation de fond en 3D -->
<div class="background-3d">
    <div></div>
    <div></div>
</div>

<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/alphaBeta.js') }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<!-- Script JavaScript pour afficher les noms des joueurs -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const player1NameElement = document.getElementById("player1Name");
        const player2NameElement = document.getElementById("player2Name");
        const player1Name = sessionStorage.getItem("player1Name") || "Joueur 1";
        const player2Name = sessionStorage.getItem("player2Name") || "Joueur 2";

        player1NameElement.textContent = player1Name;
        player2NameElement.textContent = player2Name;
    });

    // Initialisation de SortableJS pour les éléments de la grille
    const gridContainer = document.querySelector('#game-container');
    new Sortable(gridContainer, {
        animation: 150,
        ghostClass: 'sortable-ghost',
        chosenClass: 'sortable-chosen',
        dragClass: 'sortable-drag',
        onStart: function () {
            console.log('Drag started');
        },
        onEnd: function () {
            console.log('Drag ended');
        }
    });

    console.log('SortableJS initialized');
</script>
</body>
</html>
